<div class="header">
  <div class="logo-badge">
    <picture>
      <source type="image/webp" srcset="/assets/img/brand/logo.webp" />
      <img src="/assets/img/brand/logo.png" alt="DevRelCon Tokyo 2021 logo badge">
    </picture>
  </div>
  <div class="date d-flex align-items-center">
    <div class="m-auto lang en">
      <p class="date-nos">5th</p>
      <p class="month">June</p>
      <hr>
      <p>2021</p>
    </div>
    <div class="m-auto lang ja">
      <p class="date-nos">6月</p>
      <p class="month">5日</p>
      <hr>
      <p>2021年</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="title-block">
    <h3 class="lang en bold">DevRelCon Tokyo 2021 will be held on <span style="color: red">online!</span></h3>
    <h3 class="lang ja bold">DevRelCon Tokyo 2021は<span style="color: red">オンライン</span>開催です！</h3>
    <p class="lang en">You can participate from around the world as speaker and attendee</p>
    <p class="lang ja">世界中、どこからでも参加者、スピーカーとして参加できます</p>
    <p>
      <a href="https://www.papercall.io/devrelcon-tokyo-2021" class="lang en btn btn-danger btn-lg">Send Proposal (Deadline is March 15th UTC)</a>
      <a href="https://www.papercall.io/devrelcon-tokyo-2021" class="lang ja btn btn-danger btn-lg">プロポーザルを提出する（3月15日締め切り）</a>
    </p>
  </div>
</div>
<!-- ================================================

  Key themes

==================================================-->

<div class="container">
  <div class="themes">
    <div class="theme devrel">DevRel <i class="fas fa-check"></i></div>
    <div class="theme marketing">
      <span class="lang en">Developer Marketing</span>
      <span class="lang ja">開発者向けマーケティング</span>
       <i class="fas fa-check"></i></div>
    <div class="theme community">
      <span class="lang en">Developer Community</span>
      <span class="lang ja">開発者コミュニティ</span>
       <i class="fas fa-check"></i>
     </div>
    <div class="theme experience">
      <span class="lang en">Team Management</span>
      <span class="lang ja">DevRelチーム体制</span>
       <i class="fas fa-check"></i>
    </div>
  </div>
</div>

