<div class="header">
  <div class="logo-badge">
    <picture>
      <source type="image/webp" srcset="/assets/img/brand/logo.webp" />
      <img src="/assets/img/brand/logo.png" alt="DevRelCon Tokyo 2021 logo badge">
    </picture>
  </div>
  <div class="date d-flex align-items-center">
    <div class="m-auto lang en">
      <p class="date-nos">5th</p>
      <p class="month">June</p>
      <hr>
      <p>2021</p>
    </div>
    <div class="m-auto lang ja">
      <p class="date-nos">6月</p>
      <p class="month">5日</p>
      <hr>
      <p>2021年</p>
    </div>
  </div>
</div>

<!-- ================================================

  Key themes

==================================================-->

<div class="container">
  <div class="themes">
    <div class="theme devrel">DevRel <i class="fas fa-check"></i></div>
    <div class="theme marketing">
      <span class="lang en">Developer Marketing</span>
      <span class="lang ja">開発者向けマーケティング</span>
       <i class="fas fa-check"></i></div>
    <div class="theme community">
      <span class="lang en">Developer Community</span>
      <span class="lang ja">開発者コミュニティ</span>
       <i class="fas fa-check"></i>
     </div>
    <div class="theme experience">
      <span class="lang en">Team Management</span>
      <span class="lang ja">DevRelチーム体制</span>
       <i class="fas fa-check"></i>
    </div>
  </div>
</div>

