<div id="venue"></div>
<div class="venue-wrapper grey-bg">
  <div class="title-block">
    <h1 class="lang en bold red">FAQ</h1>
    <h1 class="lang ja bold red">FAQ（よくある質問）</h1>
    <h3 class="lang en" style="font-family: sans-serif !important;"><strong>Q. What language providing in the session?</strong></h3>
    <h3 class="lang ja" style="font-family: sans-serif !important;"><strong>Q. セッションの言語は何ですか？</strong></h3>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lang en text-left">
            Every sessions are in English.
          </p>
          <p class="lang ja text-left">
            全セッション英語になります。なお、システム翻訳による日本語訳を表示予定です。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>