<!-- ================================================

  Footer

==================================================-->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="red mb-4">DevRelCon</h4>
        <p class="lang en">DevRelCon is a global series of events, created by <a href="https://hoopy.io">Hoopy</a>, to provide a forum for developer relations and developer experience professionals share with other practitioners.</p>
        <p class="lang ja">DevRelConはグローバルなカンファレンスであり、<a href="https://hoopy.io">英 Hoopy社</a>によって開始されました。デベロッパーリレーション、開発者体験、さらにDevRelに関するセッションが提供されます。</p>
        <p class="lang en"><a href="https://www.devrelcon.net/">Read more about DevRelCon</a></p>
        <p class="lang ja"><a href="https://www.devrelcon.net/">DevRelConについてさらに知りたい場合はこちらをご覧ください。</a></p>
        <h4 class="red mb-4">DevRelCon Tokyo</h4>
        <p class="lang en">DevRelCon Tokyo is a part of DevRelCon series, organized by <a href="https://moongift.co.jp/">MOONGIFT</a> and <a href="https://devrel.tokyo">DevRel Meetup in Tokyo</a> since 2017. All sessions are provided in English. We provide global styled conference in Tokyo.</p>
        
        <p class="lang ja">DevRelCon TokyoはDevRelConシリーズの一つであり、<a href="https://moongift.co.jp/">MOONGIFT</a>と<a href="https://devrel.tokyo">DevRel Meetup in Tokyo</a>によって2017年から開催されています。すべてのセッションは英語で提供されます。グローバルなスタイルのカンファレンスを東京で体験できる希有なカンファレンスです。</p>
        <p class="lang en">
          Archived: <a href="https://tokyo-2017.devrel.net">2017</a>, <a href="https://tokyo-2018.devrel.net">2018</a>, <a href="https://tokyo-2019.devrel.net">2019</a><br />
          Report: <a href="https://blog.moongift.co.jp/entry/2018/03/06/154436">2017</a>
        </p>
        <p class="lang ja">
          過去のカンファレンス：<a href="https://tokyo-2017.devrel.net">2017</a>, <a href="https://tokyo-2018.devrel.net">2018</a>, <a href="https://tokyo-2019.devrel.net">2019</a>, <a href="https://tokyo-2020.devrel.net">2020</a><br />
          <a href="https://blog.moongift.co.jp/entry/2017/08/07/190210">2017報告</a>, <a href="https://devrel.jp/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/devrelcon/2019/03/10/devrelcon-tokyo.html">2019報告</a>
        </p>
        <a data-toggle="modal" data-target="#subscribeModal" href="#" style="border-bottom:0;">
          <div class="lang en DevRelCon-button mt-3 mb-5">Get update</div>
          <div class="lang ja DevRelCon-button mt-3 mb-5">アップデートを受け取る</div>
        </a>
        <p><a style="border:none;" href="https://twitter.com/devrelcontokyo"><i class="fab fa-twitter mt-5"></i></a>
          <a style="border:none;display:inline-block;" href="https://www.facebook.com/devrelcontokyo"><i class="fab fa-facebook mt-5 ml-4"></i></a>
          <a style="border:none;display:inline-block;" href="https://www.linkedin.com/company/devrelcon-tokyo/"><i class="fab fa-linkedin fa-linkedin2 mt-5 ml-4"></i></a>
          <a style="border:none;display:inline-block;" href="https://www.instagram.com/devrelcon_tokyo/"><i class="fab fa-instagram mt-5 ml-4"></i></a>
        </p>
        <p class="footer-text"><a href="/code-of-conduct.html">Code of Conduct</a></p>
        <p class="footer-text mt-1">© 2019 MOONGIFT Ltd. DevRelCon is a registered trademark of <a href="https://hoopy.io">Hoopy</a> Limited.</p>
      </div>
      
    </div>
  </div>
</footer>

<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="//devrel.us15.list-manage.com/subscribe/post?u=f62ede3f170144d0bf000cb4e&id=aa6ace9b56" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
          <div id="mc_embed_signup_scroll">
            <div id="newsletter"></div>
            <h3 class="title red lang en">Signup for updates</h1>
            <h3 class="title red lang ja">アップデートを受け取る</h1>
            <div class="form-group">
              <label for="mce-EMAIL" class="lang en">Email Address <span>(Required)</span></label>
              <label for="mce-EMAIL" class="lang ja">メールアドレス <span>(必須)</span></label>
              <input class="required email form-control" id="mce-EMAIL" name="EMAIL" placeholder="Your Email Address" type="email" value="">
            </div>
            <div class="form-group">
              <label for="mce-MMERGE3" class="lang en">Company</label>
              <label for="mce-MMERGE3" class="lang ja">会社名</label>
              <input class="text form-control" id="mce-MMERGE3" name="MMERGE3" placeholder="Company Name" type="text" value="">
            </div>
            <div class="form-group">
              <label for="mce-LNAME" class="lang en">Job Title</label>
              <label for="mce-LNAME" class="lang ja">役職</label>
              <input class="text form-control" id="mce-LNAME" name="LNAME" placeholder="Your Job Title" type="text" value="">
            </div>
            <div class="form-group">
              <label for="mce-FNAME" class="lang en">Name</label>
              <label for="mce-FNAME" class="lang ja">お名前</label>
              <input class="text form-control" id="mce-FNAME" name="FNAME" placeholder="Your Name" type="text" value="">
            </div>
            <div class="clear" id="mce-responses">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;">
              <input name="b_b895eb25808853ec36506c2f9_d2dc7d3340" tabindex="-1" type="text" value="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="mc-embedded-subscribe" name="subscribe" type="submit" class="lang en btn btn-danger">Subscribe</button>
          <button id="mc-embedded-subscribe" name="subscribe" type="submit" class="lang ja btn btn-danger">アップデートを受け取る</button>
        </div>
      </form>
    </div>
  </div>
