<div id="about"></div>
<div class="intro">
  <div class="row d-flex align-items-center">
    <div class="col-lg-6 photo-container">
      <picture>
        <source type="image/webp" loading="lazy" srcset="/assets/img/misc/DevRelCon-Tokyo.webp" />
        <img src="/assets/img/misc/DevRelCon-Tokyo.jpg" loading="lazy" alt="DevRelCon Tokyo 2021">
      </picture>
      <div class="about-photo lang en">
        <h4 class="bold">From: </h4>
        <p>DevRelCon Tokyo 2019</p>
      </div>
      <div class="about-photo lang ja">
        <p>DevRelCon Tokyo 2019より</p>
      </div>
    </div>
    <div class="col-lg-6 mt-5 mt-lg-0 about">
      <h1>DevRelCon Tokyo <span class="red">2021:</span></h1>
      <p class="lang en">Over 200 professionals working in developer relations, DX, tech writing, API design, technical support, community and develper marketing.</p>
      <p class="lang ja">200名を越えるDevRel、DX（開発者体験）、テクニカルライター、APIデザイナー、テクニカルサポート、開発者コミュニティ、開発者マーケティングに関わる方達が参加します。</p>
      <p class="lang en">To participate in <strong>DevRelCon</strong>, you agree to abide by our <a href="/code-of-conduct.html">code of conduct</a>.</p>
      <p class="lang ja"><strong>DevRelCon</strong>の参加者は<a href="/code-of-conduct.html">行動規範</a>に沿わなければなりません。</p>
      <!--
      <a rel="noreferrer" class="ticket" href="#ticket">
        <div class="DevRelCon-button mr-md-2 mt-4 mt-md-5">
          <span class="lang en">Buy ticket</span>
          <span class="lang ja">チケットを買う</span>
        </div>
      </a>
      <a data-toggle="modal" data-target="#subscribeModal" href="#" style="border-bottom:0;">
        <div class="lang en DevRelCon-button mt-4 mt-md-5">Get update</div>
        <div class="lang ja DevRelCon-button mt-4 mt-md-5">アップデートを受け取る</div>
      </a>
      -->
    </div>
  </div>
</div>