<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="MOONGIFT">

<title>{{ speaker.name_en }}'s page - DevRelCon Tokyo 2021 – conference for developer relations, developer marketing, developer experience, APIs</title>

<meta property="og:type" content="article">
<meta property="og:locale" content="en_US">
<meta property="og:title" content="{{ speaker.name_en }}'s page - DevRelCon Tokyo 2021">
<meta property="og:site_name" content="DevRelCon Tokyo 2021 – conference for developer relations, developer marketing, developer experience, APIs">
<meta property="og:description" content="A one day conference for technical evangelists, developer advocates and anyone interested in developer relations and developer experience">
<meta property="og:image" content="https://tokyo-2021.devrel.net/assets/img/social/{{speaker.id}}.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:url" content="https://tokyo-2021.devrel.net/speakers/{{speaker.id}}/">
<meta property="fb:app_id" content="424738881282189">
<meta property="fb:pages" content="1266887696723264" />
<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@devrelcontokyo">
<meta name="twitter:creator" content="@devrelcontokyo">
<meta name="twitter:title" content="{{ speaker.name_en }}'s page - DevRelCon Tokyo 2021">
<meta name="twitter:description" content="A one day conference for technical evangelists, developer advocates and anyone interested in developer relations and developer experience">
<meta name="twitter:image" content="https://tokyo-2021.devrel.net/assets/img/social/{{speaker.id}}.jpg">
<meta name="twitter:summary_large_image" content="https://tokyo-2021.devrel.net/assets/img/social/{{speaker.id}}.jpg">


<!-- ================================================

  Stylesheets

==================================================-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.typekit.net/two3gtv.css">
<link rel="stylesheet" href="/assets/css/DevRelCon-Tokyo2021.css">

<!-- ================================================

Favicons

==================================================-->

<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/assets/favicons/manifest.json">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
