<!-- ================================================

  Navigation

==================================================-->

<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-white">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#hoopyNav" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-50" id="hoopyNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://moongift.co.jp/">MOONGIFT</a>
      </li>
    </ul>
    <ul class="navbar-nav flex-fill justify-content-center abs-center-x">
      <li class="nav-item active">
        <a class="nav-link lang en scrollnav" href="/#home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link lang ja scrollnav" href="/#home">ホーム <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link lang en scrollnav" href="/#about">About</a>
        <a class="nav-link lang ja scrollnav" href="/#about">概要</a>
      </li>
      <li class="nav-item">
        <a class="nav-link lang en scrollnav" href="/#speakers">Speakers</a>
        <a class="nav-link lang ja scrollnav" href="/#speakers">スピーカー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link lang en scrollnav" href="/#schedule">Schedule</a>
        <a class="nav-link lang ja scrollnav" href="/#schedule">日程</a>
      </li>
      <li class="nav-item">
        <a class="nav-link lang en scrollnav" href="/#sponsors">Sponsors</a>
        <a class="nav-link lang ja scrollnav" href="/#sponsors">スポンサー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link lang en scrollnav" href="/#venue">Venue</a>
        <a class="nav-link lang ja scrollnav" href="/#venue">会場</a>
      </li>
      <li class="nav-item">
        <a class="nav-link lang en scrollnav" href="/#organizers">Organizers</a>
        <a class="nav-link lang ja scrollnav" href="/#organizers">運営</a>
      </li>
      <li class="nav-item">
        <a class="nav-link change-lang lang en" href="#" data-lang="ja">🇬🇧</a>
        <a class="nav-link change-lang lang ja" href="#" data-lang="en">🇯🇵</a>
      </li>
    </ul>
    <!--
    <div style="text-align:center;">
      <a rel="noreferrer" href="https://www.papercall.io/devrelcon-tokyo-2020" target="_blank">
        <div class="DevRelCon-button mt-3 mt-lg-0 mb-4 mb-lg-0">
          <span class="lang en">Send CFP (until Nov. 15th)</span>
          <span class="lang ja">CFPを送る (11月15日まで)</span>
        </div>
      </a>
    </div>
    -->
  </div>
</nav>
