{% for ary in site.data.session29 %}
  {% if ary.first[1][0].room == 'Track 4' %}

    <div class="container">
      <div class="row">
        <div class="schedule-title-row col-md-12">
          <p class="medium lang en">{{ ary.first[1][0].room_name_en}}</p>
          <p class="medium lang ja">{{ ary.first[1][0].room_name_ja}}</p>
        </div>
      </div>
    </div>
  
    <div class="schedule-block">
      {% for sessions in ary %}
        {% for session in sessions[1] %}
          <div class="row">
            <div class="col-md-2"><p class="red medium">{{ session.time }}</p></div>
            <div class="col-md-7">
              {% include session_item.html session=session %}
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <div class="profile-image">
                {% include session_picture.html session=session %}
              </div>
            </div>
          </div>
          <hr>
        {% endfor %}
      {% endfor %}
    </div>

    
  {% elsif ary.first[1][0].room == '' %}
    {% for sessions in ary %}
      <div class="schedule-single-row">
        {% for session in sessions[1] %}
          <div class="row">
            <div class="col-md-2"><p class="red medium">{{ session.time }}</p></div>
            <div class="col-md-10">
              <p class="medium lang en">{{ session.title_en }}</p>
              <p class="medium lang ja">{{ session.title_ja }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <div class="container">
      <div class="row">
        {% for session in ary.first[1] %}
          {% if forloop.index != 4 %}
            <div class="schedule-title-row col mr-3">
              <p class="medium lang en" style="float:left">{{ ession.room_name_en }}</p>
              <p class="medium lang ja" style="float:left">{{ session.room_name_ja }}</p>
              <!-- <div class="tag" style="float:right">Title</div> -->
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% for sessions in ary %}
      <div class="schedule-time-row">
        <div class="row">
          <div class="col-md-12"><p class="red medium">{{ sessions[0] }}</p></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% for session in sessions[1] %}
            {% if forloop.index < 3 %}
              <div class="schedule-split-row col mr-2">
                <div style="float:left">
                  {% include session_item.html session=session %}
                </div>
                <div class="profile-image" style="float:right">
                  {% include session_picture.html session=session %}
                </div>
              </div>
            {% else %}
              {% if forloop.index == 3 %}<div class="schedule-split-row col mr-2">{% endif %}
                <div class="row">
                  <div style="float:left">
                    {% include session_item.html session=session %}
                  </div>
                  {% if session.show == 'true' %}
                    <div class="profile-image" style="float:right">
                      {% include session_picture.html session=session %}
                    </div>
                  {% endif %}
                </div>
              {% if forloop.index == 4 %}</div>{% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}
