<!--
<div id="ticket"></div>
<div class="title-block  grey-bg">
  <h1 class="lang en bold red">Attention</h1>
  <h1 class="lang ja bold red">注意</h1>
</div>

<div class="speaker-wrapper  grey-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 text-center">
        <div class="devrel-button buy lang en DevRelCon-button blue">
          <a rel="noreferrer" href="https://ti.to/devrelcon-tokyo/2021" target="_blank">
            Buy ticket <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
        <h4 class="lang ja">英語（ti.to）</h4>
        <div class="devrel-button buy lang ja DevRelCon-button blue">
          <a rel="noreferrer" href="https://ti.to/devrelcon-tokyo/2021" target="_blank">
            チケットを買う（クレジットカード/PayPal） <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
        <div class="lang ja">
          <br />
          <br />
        </div>
        <h4 class="lang ja">日本語（Peatix）</h4>
        <div class="devrel-button buy lang ja DevRelCon-button blue">
          <a rel="noreferrer" href="https://devrelcon-tokyo-2021.peatix.com/view" target="_blank">
            チケットを買う（クレジットカード/コンビニ/銀行振込） <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
        <br />
        <br />
        <br />
        <h4 class="lang ja">ダイバーシティチケットを申し込む<br />（Googleによる提供。限定30枚まで）</h4>
        <h4 class="lang en">Application to divercity ticket<br />(Provided by Google. Maximum 30 tickets)</h4>
        <div class="devrel-button buy lang ja DevRelCon-button red text-white">
          <a rel="noreferrer" href="https://forms.gle/Nr4tZErK6TKRnUr1A" target="_blank" style="color:white">
            チケットを申し込む
          </a>
        </div>
        <div class="devrel-button buy lang en DevRelCon-button red text-white">
          <a rel="noreferrer" href="https://forms.gle/Nr4tZErK6TKRnUr1A" target="_blank" style="color:white">
            Application the ticket
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
-->