<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <meta property="og:type" content="article">
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="DevRelCon Tokyo 2020 – conference for developer relations, developer marketing, developer experience, APIs">
<meta property="og:site_name" content="DevRelCon Tokyo 2020 – conference for developer relations, developer marketing, developer experience, APIs">
<meta property="og:description" content="A one day conference for technical evangelists, developer advocates and anyone interested in developer relations and developer experience">
<meta property="og:image" content="https://tokyo-2020.devrel.net/assets/img/brand/social-banner.jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:url" content="https://tokyo-2020.devrel.net/">
<meta property="fb:app_id" content="424738881282189">
<meta property="fb:pages" content="1266887696723264" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@devrelcontokyo">
<meta name="twitter:creator" content="@devrelcontokyo">
<meta name="twitter:title" content="DevRelCon Tokyo 2020">
<meta name="twitter:description" content="A one day conference for technical evangelists, developer advocates and anyone interested in developer relations and developer experience">
<meta name="twitter:image" content="https://tokyo-2020.devrel.net/assets/img/brand/social-banner.jpeg">

</head>
<body>
  <div id="home"></div> <!-- Top of the page anchor (from main nav) -->

  {% include nav.html %}
    
  {{ content }}
    
    {% include footer.html %}

    {% include script.html %}
  </body>
</html>
